
@{
    ViewData["Title"] = "Modules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Modules</h2>

<div>
    <table style="margin: auto;">
        <tbody>
            <tr>
                <td colspan="2" style="text-align:center; font-size:1.6em; font-weight:bold;"></td>
            </tr>
        </tbody>
    </table>
</div>
<script src="/js/Modules/classes.js"></script>
<script src="/js/Modules/data.js"></script>
<script src="/js/Modules/deleteModules.js"></script>
<script src="/js/Modules/editModulesClick.js"></script>
<script src="/js/Modules/functions.js"></script>
<script src="/js/Modules/httpService.js"></script>
<script src="/js/Modules/init.js"></script>
<script src="/js/Modules/mask.js"></script>
<script src="/js/Modules/modal.js"></script>
<script src="/js/Modules/moduleEdit.js"></script>

<script src="/js/Modules/position.js"></script>
<script src="/js/Modules/saveClick.js"></script>
<script src="/js/Modules/style-objects.js"></script>


<hr />


<script src="/js/Home/jquery.js"></script>
<script src="/js/Home/bootstrap.min.js"></script>
<script src="/js/site.js"></script>


